[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
MemoryCaptures/
*.pidb
*.suo
*.user
*.userprefs
*.csproj
*.unityproj
*.booproj
*.sln
*.swp
*.tmp
*.bak
*.old
*.orig
*.pyc
*.pyo
.vs/
.idea/
.vscode/
